# .gitignore

# Environment variables
.env

# Virtual environment
venv/
env/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Database files
*.db
*.sqlite3

# IDE settings
.vscode/
.idea/

# Distribution / Build
dist/
build/
*.egg-info/

# Local Documents
documentation.md

project_deep_dive.md
production_report.md
